<div id="question">
  {{#link-to 'question' question.id}}<h4>{{titleAuthor}}</h4>{{/link-to}}
  <h5>{{post-popularity question}}</h5>
</div>
<button class=" btn glyphicon glyphicon-heart" {{action "addFavorite" question}} ></button>
